<% content_for :editor do %>
	<%= form_tag("/check_code", method: 'post', :id => 'form-editor', :remote => "true") do %>
		<% if @content != "" %>
			<%= text_area_tag(:editor, @content) %> <br>
		<% else %>
			<%= text_area_tag(:editor, "") %> <br>
		<% end %>
		<%= hidden_field_tag 'course', @course_id %>
		<%= hidden_field_tag 'lesson', @lesson_id %>
		<%= hidden_field_tag 'exercice', @exercice_id %>
		<%= submit_tag 'Check', {class: 'btn btn-primary', style: 'float: right;'} %>
		<%= image_tag "loading.gif", :style => 'display: none;', :id => 'loading' %>
            <div id ="check_results" style="display:none;">
              <h2 id="result_title">Nice Work !</h2>
              <p id ="result_core"></p>
              <input type="button" id="next_exercice" style="display:none; position:absolute; right:20px; top:50%;" value="Next" class="btn btn-success">
            </div>
	<% end %>
	
<% end %>


<% content_for :console do %>
	<%= text_area_tag(:console, @output) %>
<% end %>